body {
  font-family: "Radio Canada Big", sans-serif;
  background: linear-gradient(180deg, rgb(43, 43, 43), rgb(19, 19, 19));
  height: 100vh;
  color: white;
}

#title {
  margin-bottom: 0;
  text-align: center;
}
#description {
  text-align: center;
  margin-top: 0.2em;
  margin-bottom: 3em;
}

label {
  display: block;
}

form {
}

input {
  display: inline;
  margin: 0.5em;
  width: 300px;
  border-radius: 5px;
}
input[type="radio"] {
  width: 20px;
}

#juice {
  margin-top: 1em;
}
